/*color*/
$header__color: #221f1f;
$footer__color: #231f20;
$primary__color: #808083;
/*end color*/

/*font*/
$roboto__font: 'Roboto', sans-serif;
$header__font: 'Titillium Web', sans-serif;
/*end font*/

* {
  outline: none !important;
}

body {
  font-size: 16px;
  color: $primary__color;
  font-family: $roboto__font;
}

.b-header {
  font-size: 32px;
  font-weight: 600;
  color: $header__color;
  text-transform: uppercase;
  font-family: $header__font;
  margin:0 0 70px;
}

.b-sub__header {
  font-size: 18px;
  font-weight:600;
  color: $header__color;
  text-transform: uppercase;
  margin:0 0 30px;
}


.block {
  display: block;
}
.bold {
  font-weight: bold;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.unstyled-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.w-clear:after {
  content: "";
  display: table;
  clear: both;
}
@media(max-width: 767px) {
  .img-responsive {
    margin: 0 auto;
  }
}