.b-content {
  padding:215px 30px;
  min-height: 100vh;
  //outline: 1px solid red!important;

  &.about {
    padding-top: 50px;
  }
}
.b-faq {
  margin-bottom:40px;
}
.b-link {
  color: $footer__color;
  text-decoration: underline;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.b-media {
  margin-bottom: 30px;
}
.b-social {
  display: flex;
  align-items: center;
  margin: 0 -100px 0;

  >li {
    flex:0 0 33.3333333%;
    border-left: 1px solid #fff;

    >a {
      display: flex;
      background-color: #959595;
      align-items: center;
      justify-content: center;
      padding: 15px;
      height: 320px;
    }
  }
}


.w-faq {

}
.w-nav {
  z-index: 1;

  &.active {
    position: fixed;
    top:70px;
  }
}
.w-section {
  counter-reset: count;

  .blank__nav {
    position: absolute;
  }

  .b-header {
    counter-increment: count;
  }

  .b-header:before {
    content: counter(count) '.';
  }
}
.w-sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    margin-bottom: 35px;
    width: calc((100% - 25px*2)/ 3);
  }
}
.w-text {
  margin-bottom: 50px;

  p + p {
    margin-top:30px;
  }
}