.b-content {
  min-height: 100vh;
  padding:150px 30px 0;

  &.small__padding {
    padding-top: 115px;
  }
}
.b-faq {
  margin-bottom:40px;
}
.b-link {
  color: $footer__color;
  text-decoration: underline;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.b-media {
  margin-bottom: 30px;
}
.b-social {
  display: flex;
  align-items: center;
  margin: 0 -100px 0;

  >li {
    flex:0 0 33.3333333%;
    border-left: 1px solid #fff;

    >a {
      display: flex;
      background-color: #959595;
      align-items: center;
      justify-content: center;
      padding: 15px;
      height: 320px;
    }
  }
}


.w-faq {

}
.w-map {
  min-height:540px;
  margin:0 -100px 0;
}
.w-nav {
  z-index: 100;

  &.active__right {
    top: 0;
    left: 50vw;
    position: fixed;
    padding: 70px 70px 0;
    background-color: #fff;
    width: calc(100% - 50vw - 17px)!important;
  }

  &.active__left {
    top: 0;
    left: 0;
    position: fixed;
    padding: 70px 70px 0;
    background-color: #000;
    width: calc(100% - 50vw - 17px)!important;
  }
}
.w-section {
  counter-reset: count;

  &.left {
    //width: 54%;
    color: #808083;
    background-color: #000;

    .b-header,
    .b-sub__header {
      color: #fff;
    }
  }

  .b-header {
    counter-increment: count;
  }

  .b-header:before {
    top: -5px;
    font-size: 20px;
    position: relative;
    margin-right: 40px;
    content: counter(count) '.';
  }
}
.w-sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    margin-bottom: 35px;
    width: calc((100% - 25px*2)/ 3);
  }
}
.w-text {
  margin-bottom: 50px;

  p + p {
    margin-top:30px;
  }
}